In [1]:
import pandas as pd

In [15]:
data1 = pd.read_csv("data/ensemble/18_onlyswap.csv")
data1.head(10)

            target
count  1100.000000
mean      2.766091
std       1.484786
min       0.000000
25%       1.500000
50%       2.900000
75%       4.100000
max       5.000000

In [19]:
data2 = pd.read_csv("data/ensemble/jaeryoung.csv")
data2.head(10)

                          id  target
0  boostcamp-sts-v1-test-000     3.1
1  boostcamp-sts-v1-test-001     4.7
2  boostcamp-sts-v1-test-002     1.6
3  boostcamp-sts-v1-test-003     0.1
4  boostcamp-sts-v1-test-004     3.7
5  boostcamp-sts-v1-test-005     3.0
6  boostcamp-sts-v1-test-006     3.8
7  boostcamp-sts-v1-test-007     1.6
8  boostcamp-sts-v1-test-008     0.4
9  boostcamp-sts-v1-test-009     5.0

In [20]:
data3 = pd.read_csv("data/ensemble/deberta.csv")
data3.head(10)

                          id  target
0  boostcamp-sts-v1-test-000     3.8
1  boostcamp-sts-v1-test-001     4.8
2  boostcamp-sts-v1-test-002     2.0
3  boostcamp-sts-v1-test-003     0.1
4  boostcamp-sts-v1-test-004     3.6
5  boostcamp-sts-v1-test-005     2.8
6  boostcamp-sts-v1-test-006     3.8
7  boostcamp-sts-v1-test-007     1.6
8  boostcamp-sts-v1-test-008     0.6
9  boostcamp-sts-v1-test-009     4.9

In [28]:
# Create an ensemble dataframe by averaging the 'target' columns from data1, data2, and data3
ensemble_df = pd.DataFrame(
    {
        "id": data1["id"],
        "target": (
            data1["target"] * 0.2 + data2["target"] * 0.6 + data3["target"] * 0.2
        ),
    }
)

ensemble_df.describe()

            target
count  1100.000000
mean      2.734891
std       1.447685
min       0.000000
25%       1.555000
50%       2.730000
75%       4.000000
max       5.240000

In [29]:
ensemble_df["target"] = ensemble_df["target"]
ensemble_df.head()

                          id  target
0  boostcamp-sts-v1-test-000    3.32
1  boostcamp-sts-v1-test-001    4.68
2  boostcamp-sts-v1-test-002    1.64
3  boostcamp-sts-v1-test-003    0.10
4  boostcamp-sts-v1-test-004    3.64

In [30]:
ensemble_df.to_csv("data/inference/ensemble-three.csv", index=False)

End.